body{
    background-color: #e9e9e9;
    font-size: 20px;
    font-family: "Ubuntu Condensed", sans-serif;
    margin: 0px;
}

.name{
color: #e9e9e9;    
text-align: center;
border-radius: 20px;
border-color: #000000;
background-color:#9d999d;
width: 60%;
padding: 10px;
margin-left: auto;
margin-right: auto;
}

.header{
    background-color: #9d999d;
    overflow: hidden;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}
.site-nav-iteam {
    background: #9d999d;
    display: inline;
  }

  .site-nav-iteam a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0 34px 0 30px;
    font-size: 20px;
  }

  .site-nav-iteam a, .site-nav-iteam a:visited {color: #ffffff;}
  .site-nav-iteam a.current, .site-nav-iteam a:hover{color: #000000;}

.my_photo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    border: 20px solid #9d999d;
}

.about_me{
    color: #e9e9e9;    
    text-align: center;
    border-radius: 20px;
    border-color: #000000;
    background-color:#9d999d;
    width: 10%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.hello-text{
    color: #e9e9e9;    
    text-align: center;
    border-radius: 20px;
    border-color: #000000;
    background-color:#9d999d;
    width: 30%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.about_me_text{
    color: #e9e9e9;    
    text-align: center;
    border-radius: 20px;
    border-color: #000000;
    background-color:#9d999d;
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.portfolio{
    color: #e9e9e9;    
    text-align: center;
    border-radius: 20px;
    border-color: #000000;
    background-color:#9d999d;
    width: 40%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    display: block;
}

.my_skills{
    color: #e9e9e9;    
    text-align: center;
    border-radius: 20px;
    border-color: #000000;
    background-color:#9d999d;
    width: 10%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.skills-item{
    color: #e9e9e9;    
    text-align: center;
    border-radius: 20px;
    border-color: #000000;
    background-color:#9d999d;
    width: 10%;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.doctype_html{
    color: rgb(15, 179, 0);
    text-align: center;
}

.html_color{
    color: red;
}